/hardware/ti/sgx/eurasiacon/binary2_omap4430_android_release/
/hardware/ti/sgx/gfx_rel_es5.x_android/devmem2
/hardware/ti/sgx/gfx_rel_es5.x_android/omaplfb.ko
/hardware/ti/sgx/gfx_rel_es5.x_android/pvrsrvkm.ko
/hardware/ti/sgx/install
/hardware/ti/sgx/tools/devmem2/Obj/
/hardware/ti/wlan/mac80211/compat/.tmp_versions

/kernel/arch/arm/boot/compressed/

/tcbin_misc/mtd-utils/ubifs.img

/u-boot/tools/env/fw_printenv
/u-boot/tools/env/fw_setenv

/x-loader/include/asm/arch
/x-loader/include/asm/proc
/x-loader/signGP

/image_folder/
/out/
/.repo/

/b2g-build-all.*
/*.log
/*.ktl
/*.ktd
